.Login_text{
    position: absolute;
    top: 3%;
    left: 1300px;
    text-align: right;
    width: 200px;
    color: black;
}

.Login_btn{
    position: absolute;
    left: 0px;

    border-radius: 10px;
}